In [ ]:
CSV : 
Comma Separated Values:
why CSV vs Excel ?
SQL Data -- CSV --> DB

In [ ]:
Memory -- 10Mil  

CSV - lightweight

Excel -  More Memory than CSV/JSON

In [ ]:
1.normal approach

In [1]:
with open("emp.csv") as fp:
    data = fp.read()
    print(data)

empid,empname,empsal
101,keshav,464646
102,tushar,5756757
103,anup,6546
104,rakesh,765756

In [ ]:
2.By using CSV modules

In [ ]:
mkodules pre defined --> code --> Python Comminity
use
CSV - predefined modules

In [3]:
import csv

In [25]:
with open("emp.csv") as fp:
    r = csv.reader(fp)
    for i in r:
        print(i)

['empid', 'empname', 'empsal']
['101', 'keshav', '464646']
['102', 'tushar', '5756757']
['103', 'anup', '6546']
['104', 'rakesh', '765756']

In [ ]:
DictReader --> CSV data- Dict format

In [13]:
import csv

In [15]:
with open("emp.csv") as fp:
    r = csv.DictReader(fp)
    for i in r:
        print(i)

{'empid': '101', 'empname': 'keshav', 'empsal': '464646'}
{'empid': '102', 'empname': 'tushar', 'empsal': '5756757'}
{'empid': '103', 'empname': 'anup', 'empsal': '6546'}
{'empid': '104', 'empname': 'rakesh', 'empsal': '765756'}

In [19]:
import pandas as pd

In [21]:
df = pd.read_csv("emp.csv")

In [23]:
df

   empid empname   empsal
0    101  keshav   464646
1    102  tushar  5756757
2    103    anup     6546
3    104  rakesh   765756

In [ ]:
Write CSV

In [27]:
import csv
with open("product.csv","w",newline='') as fp:
    w = csv.writer(fp)
    w.writerow(['prdid','prdname','prdprice'])
    w.writerow([101,'copper',53545])
    w.writerow([102,'silver',5464])
print("csv file write successfully")

csv file write successfully

In [33]:
import csv
with open("product.csv","w",newline='') as fp:
    w = csv.writer(fp)
    w.writerows([['prdid','prdname','prdprice'],[501,'iron',5454],[502,'al',654]])
    
print("csv file write successfully")

csv file write successfully

In [ ]:
CSV - read ---

normal
reader
writer
DictReader
DictWriter

In [ ]:
Database ---> customer -- >

In [ ]:
CustomerDetails.csv

customerid ,custname,custmorcity,sub
1313,'keshav','pune',BHFL
43434,'Tushar','Mumbai',BL
5353,'Sonali','Banglore',BDL

In [ ]:
Customer_BHFL.csv
Customer_BDL.csv
Customer_BL.csv

In [ ]:
Functional Approach
JOB - Database -- > read -- Cat --  Files

In [45]:
import csv

header = ['customerid' ,'custname','custmorcity','sub']

def customer_files_write(filename,lines):
    with open(filename,"w") as fp:
        w = csv.writer(fp)
        w.writerow(header)
        w.writerows(lines)

def file_read(filename):
    bhfl = []
    bl = []
    bdl = []
    with open(filename) as fp:
        r = csv.reader(fp)
        for row in r:
            if row[-1].lower() =='bhfl':
                bhfl.append(row)
            elif row[-1].lower()=='bl':
                bl.append(row)
            elif row[-1].lower()=='bdl':
                bdl.append(row)
    
    return bhfl,bl,bdl

def main():
    filename = 'customer.csv'
    bhfl_filename = "customer_bhfl.csv"
    bdl_filename = "customer_bdl.csv"
    bl_filename = "customer_bl.csv"
    bhfl_lines,bl_lines,bdl_lines = file_read(filename)
    customer_files_write(bhfl_filename,bhfl_lines)
    customer_files_write(bdl_filename,bdl_lines)
    customer_files_write(bl_filename,bl_lines)
    print("All files writtin successfully")
        
if __name__=='__main__':
    main()

All files writtin successfully

In [ ]:
csv | text |  JSON

In [ ]:
JSON :  Java Script Object Notation

In [ ]:
JSON :

In [ ]:
Application-1     Applicartion-2

In [ ]:
JSON

In [ ]:
Python      Java Script

list    --  array
dict    --- json
None  -- null
True -- true
False  -- false